
  html, body {
    height: 100%;
    font-family: system-ui, -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', 'Helvetica Neue', sans-serif;
  
}
  body {
    line-height: 1.5;
    -webkit-font-smoothing: antialiased;
  }
  
  .images-main {
    width: 100vw;
    padding: 20px;
   
  }
  
  
  

  .search-dropdown  label {
    color : white;
  }
  


  .images-container {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    gap: 16px; /* Adjust the gap between items */
    padding: 16px; /* Optional: add some padding around the grid */
  }
  
  .specific-image {
    display: flex;
    flex-direction: column;
    align-items: center;
    text-align: center;
  }
  
  .specific-image img {
    width: 100%;
    height: 400px; /* Set a fixed height for the images */
    object-fit: cover; /* Ensures images are cropped to fit without distortion */
    border-radius: 8px; /* Optional: add some border-radius for rounded corners */
  }
  
  .specific-image h1 {
    margin: 8px 0 4px; /* Adjust margins around the title */
    font-size: 18px;
  }
  
  .specific-image p {
    margin: 0;
    font-size: 14px;
    color: #666; /* Optional: adjust text color */
  }
  

  
  
  

  .title{
    font-size: 30px;
  }
  
 
 
.modal {
  display: none; 
  position: fixed; 
  z-index: 1000; 
  left: 0;
  top: 0;
  width: 100%; 
  height: 100%; 
  background-color: rgba(0, 0, 0, 0.5); 
  display: flex;
  justify-content: center;
  align-items: center;
}

/* Modal content */
.modal-content {
  background-color: #fff;
  padding: 20px;
  border-radius: 8px;
  width: 400px;
  box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
  position: relative;
  text-align: center;
}

/* Close button */
.close-btn {
  position: absolute;
  top: 10px;
  right: 10px;
  font-size: 24px;
  font-weight: bold;
  color: #333;
  cursor: pointer;
}

.close-btn:hover {
  color: #000;
}

/* Modal buttons */
.modal-buttons {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;
}

.modal-buttons .btn-update,
.modal-buttons .btn-delete {
  padding: 10px 20px;
  border: none;
  border-radius: 5px;
  cursor: pointer;
  font-size: 16px;
}

.modal-buttons .btn-update {
  background-color: #4CAF50;
  color: white;
}

.modal-buttons .btn-delete {
  background-color: #f44336;
  color: white;
}

.modal-buttons .btn-update:hover {
  background-color: #45a049;
}

.modal-buttons .btn-delete:hover {
  background-color: #e41e1e;
}
